<template>
    <div class="container">
        <div class="card-group">
            <div v-for="(card,index) in cardinfo" v-bind:key="index" style="width: 18rem;" class="pt-2">
                <div v-if="index < 50" class="card" >
                    <img class="card-img-top img-card mt-2" style="width: 9rem;" :src="card.card_images[0].image_url_small" alt="">     
                    <div class="card-body">
                        <h6 class="card-title">{{card.name}}</h6>
                        <div class="card-text">
                            Tipo: 
                            <small>
                                {{card.type}}
                            </small>
                        </div>
                        <div class="card-text">
                            Arquetipo: 
                            <small>
                                {{card.archetype}}
                            </small>
                        </div>
                        
                        <div class="card-text">
                            Raza;
                            <small>
                                {{card.race}}
                            </small>
                        </div>
                        <div class="card-text">
                            Tipo:
                            <small>
                                {{card.type}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from "axios";

/**
 * ariana.cruz@bbva.com
 * adair.lopez.carrasco@bbva.com
 * edgar.dominguez.alarcon@bbva.com
 * rocio.bermudez@bbva.com
 * ricardo.bernardino.munoz@bbva.com
**/

export default {
    data(){
        return {
            cardinfo : [],
            paginateConcurret: 0
        }
    },
    created() {
        axios.get("https://db.ygoprodeck.com/api/v7/cardinfo.php").then(data=>{
           if(data.status == 200) {
               this.cardinfo = data.data.data;
           }
           console.log(this.cardinfo);
        }).catch(error=>{
            console.log(error);
        });
    },

    watch: {

    }
}
</script>

<style scoped>
    .img-card{
        margin: auto;
    }
</style>