<template>
  <div id="app">
    <h2>Tarjetas de pokemon.</h2>
    <tabla-card-info/> 
  </div>
</template>

<script>

import TablaCardInfo from './components/TablaCardInfo.vue'

export default {
  name: 'App',
  components: {
    TablaCardInfo
  }
}
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
